<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <div class="jumbotron">
      <h1>Oldfield<font style="color:orange;"></font></h1>
      <p>The Department of Biological Sciences photo archive.</p>

			<% if !signed_in? %>
        <%= link_to "Sign in", signin_path, class: "btn btn-lg btn-primary" %><br><%= link_to "Sign up", signup_path %><br>
			<% else %>
		    <div class="row">
		      <div class="col-lg-6">
	          <div id="tag_cloud">
	            <% tag_cloud Photo.tag_counts.sort { |x, y| x.name <=> y.name }, %w{s m l} do |tag, css_class| %>
	              <%= link_to tag.name, tag_path(tag.name), class: css_class, class: "label label-primary"  %>
	            <% end %>
	          </div>
		      </div>
		    </div><br>
		    <div class="row">
		      <div class="col-lg-6">
		        <%= form_tag photos_path, :method => 'get' do %>
		          <div class="input-group">
		            <%= text_field_tag :search, params[:search], :placeholder => "Search text...", class: "form-control" %>
		            <span class="input-group-btn">
		              <%= submit_tag "Search", :name => nil, class: "btn btn-default" %>
		            </span>
		          </div>
		        <% end %>
		      </div>
		    </div>
		 	<% end %>
		 	<br>
    </div>
    <div class="well well-lg">
    	<% Photo.order("RANDOM()").limit(50).each do |photo| %>
      	<%= image_tag photo.photograph.url(:thumb) %>
      <% end %>
		</div>  

  </div>
</div>  
