<% if @user.photos.empty? %>
	<p class="alert alert-danger">No photos yet.</p>
<% else %>

  <small>*Note that Tags and Search operate independently. Tags and Search only apply to this photographer.</small>

  <div class="well">
    <div class="row">
      <div class="col-md-5">
        <div id="tag_cloud">
          <% tag_cloud Photo.where(:user => @user).tag_counts.sort { |x, y| x.name <=> y.name }, %w{s m l} do |tag, css_class| %>
            <%= link_to tag.name, tags_user_path(tag.name, :id => @user), class: "label label-primary"  %>
          <% end %>
        </div><br>
      </div>
      <div class="col-md-5">
        <%= form_tag user_path(@user), :method => 'get' do %>
          <div class="input-group">
            <%= text_field_tag :search, params[:search], :placeholder => "Search text...", class: "form-control" %>
            <span class="input-group-btn">
              <%= submit_tag "Search", :name => nil, class: "btn btn-default" %>
              
            </span>
          </div><br>
      </div>
        <div class="col-md-2">
          <%= link_to 'Reset', user_path(@user), class: "btn btn-default pull-right" %>
        </div>
      <% end %>
    </div>
  </div>

  <%= will_paginate @photos %>

  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Tags</th>
        <th><%= sortable "photo_filename", "Title" %></th>
        <th><%= sortable "user_id", "Photographer" %></th>
        <th><%= sortable "photo_date", "Year" %></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @photos.each do |photo| %>
        <tr>
          <td><%= link_to image_tag(photo.photograph.url(:thumb)), image_path(photo.photograph.url(:original)), :target => "_blank" %></td>
          <td>
            <% photo.tag_list.each do |t| %>
              <%= link_to t, tags_user_path(t, :id => @user), class: "label label-primary" %>
            <% end %>
          </td>
          <td><%= photo.photo_filename %></td>
          <td><%= link_to photo.user.name, "/users/" + photo.user_id.to_s %></td>
          <td><%= photo.photo_date.strftime("%Y") %></td>
          <td style="width:150px;">
            <div class="btn-group">
              <%= link_to 'Show', photo_path(photo, :user => @user.id), class: "btn btn-sm btn-default" %>
              <% if (signed_in? && current_user == photo.user) | (signed_in? && current_user.admin?) %>
                <%= link_to 'Edit', edit_photo_path(photo, :user => @user.id), class: "btn btn-sm btn-default" %>
              <% end %>
            </div>
            <% if (signed_in? && current_user == photo.user) | (signed_in? && current_user.admin?) %>
              <%= link_to 'X', photo_path(photo, :user => @user.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-default btn-danger" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= will_paginate @photos %>

<% end %>

