<%= form_for(@photo) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <% if params[:user] %>
    <%= hidden_field_tag :user, params[:user] %>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :photo_filename, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :photographer %><br>
    <%= collection_select :photo, :user_id, User.all, :id, :name, { :selected => @photo.user_id }, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :year_taken %><br>
    <%= f.date_select :photo_date, {:start_year => 1960, :end_year => Time.now.year, :discard_day => true, :discard_month => true}, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :genus_species %><br>
    <%= f.text_field :genus_species, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :photo_notes %><br>
    <%= f.text_area :photo_notes, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :tag_list, "Tags (separated by commas)" %><br>
    <%= f.text_field :tag_list, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.file_field :photograph, class: "form-control" %>
  </div>

  <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
<% end %>
