<%= form_for(@photo) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group">
    <%= f.label :photo_category %><%= link_to 'Add', new_category_path, class: "label label-default pull-right" %><br>
    <%= collection_select :photo, :category_id, Category.all, :id, :category_name, { :include_blank => "Choose category..." }, class: "form-control" %> 
  </div>
  <div class="form-group">
    <%= f.label :photo_filename %><br>
    <%= f.text_field :photo_filename, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :photo_term %><br>
    <%= f.text_field :photo_term, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :user_id %><br>
    <%= collection_select :photo, :user_id, User.all, :id, :name, { :selected => @photo.user_id }, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :photo_year %><br>
    <%= f.date_select :photo_date, {:start_year => 1960, :discard_day => true, :discard_month => true}, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :genus_species %><br>
    <%= f.text_field :genus_species, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :photo_notes %><br>
    <%= f.text_area :photo_notes, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.file_field :photograph, class: "form-control" %>
  </div>

  <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
<% end %>
