<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1>Photographs</h1>
    <br/>
    <div class="well">
      <div class="row">
        <div class="col-md-6">
          <%= form_tag photos_path, :method => 'get' do %>
            <div class="input-group">
              <%= text_field_tag :search, params[:search], :placeholder => "Search photos...", class: "form-control" %>
              <span class="input-group-btn">
                <%= submit_tag "Search", :name => nil, class: "btn btn-default" %>
                <%= link_to 'Reset', photos_path, class: "btn btn-default" %>
              </span>
            </div>
          <% end %>
        </div>
        <div class="col-md-6">
          <%= link_to 'Add Photo', new_photo_path, class: 'btn btn-primary pull-right' %>
        </div>
      </div>
    </div>
          

    <%= will_paginate @photos %>

    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th><%= sortable "photo_category", "Category" %></th>
          <th><%= sortable "photo_filename", "Filename" %></th>
          <th><%= sortable "photo_term", "Term" %></th>
          <th><%= sortable "user", "Photographer" %></th>
          <th><%= sortable "photo_date", "Taken" %></th>
          <th><%= sortable "genus_species", "Taxonomy" %></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @photos.each do |photo| %>
          <tr>
            <td><%= image_tag photo.photograph.url(:thumb) %></td>
            <td><%= photo.photo_category %></td>
            <td><%= photo.photo_filename %></td>
            <td><%= photo.photo_term %></td>
            <td><%= photo.user.name %></td>
            <td><%= photo.photo_date %></td>
            <td><%= photo.genus_species %></td>
            <td>
              <div class="btn-group">
                <%= link_to 'Show', photo, class: "btn btn-sm btn-default" %>
                <%= link_to 'Edit', edit_photo_path(photo), class: "btn btn-sm btn-default" %>
              </div>
              <% if signed_in? && current_user.admin? %>
                <%= link_to 'X', photo, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-default btn-danger" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= will_paginate @photos %>


  </div>
</div>
